/* Estilo del logo */
.logo {
  margin: 30px;
  width: 250px;
  padding-left: 30px;
}



/* Estilos personalizados */
.action-section,
.quienes-somos,
.btn-contact {
  background-color: #e60000; /* Rojo de fondo */

}

/* Estilos acordeon */
.accordion-custom .accordion-button {
  background-color: #ffeeee;
  color: black;
}

.acordeon-height img,
.acordeon-height .user-info {
  height: 200px;
}

.user-info {
  background-color: #f7e4e8;
  overflow-y: hidden;
}

.user-info:hover {
  height: fit-content;
}

.user-info:hover p {
  display: block !important;
}


.accordion-custom .accordion-body {
  background-color: #ffeeee;
  color: black;
}

.no-outline:focus {
  outline: none;
  box-shadow: none;
}


/* Estilos generales del formulario */
.form-container {
  background-color: #000;
  border-radius: 15px;
  width: 70%;
}

.form-container .form-label {
  color: #fff;
  font-weight: bold;
}

.form-container .form-control {
  color: #000;
  border: 1px solid #fff;
  border-radius: 10px;
}

.form-container .form-control::placeholder {
  color: #e60000;
}

.btn-light {
  background-color: #fff;
  color: #dfaefc;
  border-radius: 10px;
  padding: 10px 30px;
}