/* Estilo del logo */
.logo {
    margin: 30px;
    width: 240px;
    padding-left: 20px;
  }



/* Estilos personalizados */
.action-section {
    background-color: #e60000; /* Rojo de fondo */
  }

/* Estilo general para el formulario */
.form {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .contact {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.6;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    font-weight: bold;
    color: #ffffff;
  }
  
  .nombre {
    font-size: 1em;
  }
  
  .email {
    font-size: 1em;
  }
  
  .mensaje {
    font-size: 1em;
  }
  
  /* Contenedor para los grupos de campos */
  .group {
    margin-bottom: 20px;
  }
  
  /* Estilo para las etiquetas */
  label {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
  }
  
  /* Estilo para los campos de entrada */
  .main-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .main-input:focus {
    border-color: #b30000;
  }
  
  /* Contenedor del campo de mensaje */
  .form-group {
    margin-bottom: 50px;
  }
  
  textarea.form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: vertical;
    outline: none;
    transition: border-color 0.3s;
  }
  
  textarea.form-control:focus {
    border-color: #b30000;
  }
  
  /* Estilo para el botón */
  .btn {
    background-color: #ffffff;
    color: #e1bcf3;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #b30000;
  }
  
  .btn:active {
    background-color: #b30000;
  }


