/* Estilo del logo */
.logo {
    margin: 30px;
    width: 240px;
    padding-left: 30px;
  }



/* Estilos personalizados */
.action-section, .quienes-somos{
    background-color: #e60000; /* Rojo de fondo */
  }
  
  
  .accordion-custom .accordion-button {
    background-color: #ffeeee; 
    color: black; 
  }
  
  .accordion-custom .accordion-body {
    background-color: #ffeeee; 
    color: black;
  }

  .no-outline:focus {
    outline: none;
    box-shadow: none; /* Elimina también cualquier sombra que podría estar aplicada */
  }