/* Estilos generales del body*/
body {
    font-family: Arial, sans-serif;
    line-height: 1.6; /* Espacio entre lineas */
    margin: 0;
    padding: 0;
}

.impacto {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.6;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    font-weight: bold;
}

/* estilo del titulo */
.titulo{
    font-size: 2em;
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.6;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    font-weight: bold;
}

.subtitulo {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.6;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    font-weight: bold;
}

/* estilos del p */
.text{
    text-align: justify;
    text-indent: 20px;
    text-align: center;
    font-size: 25px;
    
}

.texto {
    height:auto;
    text-align: center;
    letter-spacing: 0;
}
